.container {
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    padding: 0 !important;
    width: 30rem;
    height: 23rem;
    justify-content: center;
    align-items: center;
    display: flex;

    border-radius: 0.7rem;
}