@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

/* HEADER */


header {
    background-color: #272E61;
    display: grid;
    grid-template-columns: repeat(2, 10% 90%);
    grid-template-areas: 'logo nav';
    grid-template-rows: 100%;
    color: black;
    width: 100%;
    padding: 10px;
}

/* LOGO */

figure {
    grid-area: logo;
    margin: 0;
    padding-left: 5%;
}

/* NAV */

nav {
    grid-area: nav;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 2% 10%;
    margin: 0;
}


nav ul li {
    font-size: 1.5em;
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #CB3524;
}

/* BODY */

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'main';
    grid-template-rows: 100%;
    padding: 10px;
    background-color: #CB3524;
    height: 70vh;
}

.about {
    grid-area: main;
    padding: 10px;
    background-color: white;
    z-index: 1;
}

main h1 {
    text-align: left;
    font-size: 2em;
    color: #272E61;
}

main p {
    text-align: justify;
    font-size: 1.5em;
    color: #272E61;
}

.aside {
    grid-area: main;
    padding: 10px;
    background-image: url(../img/SIMEONE.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    opacity: 0.5;
}


/* FOOTER */

footer {
    background-color: #272E61;
    color: white;
    padding: 20px;
    text-align: center;
}

i {
    color: white;
    font-size: 2.5em;
    margin: 0 10px;
}

i:hover {
    color: #CB3524;
}
